* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100vw;

    background-color: rgb(201,207,193);
}

.header {
    display: flex;
    width: 100vw;
    height: 3.5em;
    z-index: 10000;
    top: 0;
    background-color: rgb(233,235,230);
    box-shadow: 0.3em;
    overflow-x: hidden;
    transition: top 0.5s;
    position: fixed;

}


.hide {
    top: -60px;
}

#menu {
    height: 100%;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 170, 170);
}

.menuimg {
    width: 60%;
}


.logodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3em;
    margin-left: 2em;
    height: 100%;
    margin-right: 2em;
}

.logop {
    font-size: 2em;
}

.menutext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}

.menutext>p {
    font-size: 1.2em;
}

.logindiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 3em;
}

.logindiv>button {
    width: 6em;
    height: 80%;
    border-radius: 0.5em;
    background-color: rgb(57, 93, 81);
    border: none;
}

.div1 {
    display: flex;

}

#menuleft {
    height: 100vh;
    width: 11em;
    background-color: rgba(215, 215, 215, 0.752);
    top: 0px;
    display: none;
    animation: slidein 0.3s forwards;
    z-index: 100000;
    position: fixed;
    left: 0px;



}

.menuheader {
    display: flex;
    background-color: rgb(233,235,230);
    height: 3.5em;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0%);
    }
}


#menuright {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;

}

button {
    width: 5em;
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

input {
    width: 100%;
}

@media screen and (max-width: 650px) {
    .menutext {
        display: none;
    }
}

.menuitem {
    width: 9em;
    height: 3em;
    margin-top: 3em;
    background-color: rgb(189, 184, 154);
;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.5s;
}

.menuitem:hover {
    background-color: rgb(175, 200, 176);
    width: 9.8em;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10em;
    color: #E9EBE6;
    background-color: #2D2E33;
    animation: slidein 1s forwards;
}

.footer>p {
    margin-top: 2em;
    width: 70%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 設定顯示 3 行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.footer>p>a {
    color:rgb(233, 235, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**------------------calendar */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.5em;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
}

.year_change {
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
    transition: 1s;
}


.month_change {
    margin-left: 2em;
    margin-right: 2em;
    cursor: pointer;
}

.calendar_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
    font-size: 25px;
    height: auto;
    color: rgb(220, 235, 239);
}


.calendar {
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(202, 233, 239);
    animation: slidein 1s forwards;
    padding-top: 1em;
    border-radius: 3em;
    text-align: center;

}

.year_picker {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.calendar_week {
    margin-top: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 1em;

    gap: 1em;


}

.calendar_week_day {
    padding-top: 0.2em;
    margin-right: 2.3em;
    margin-left: 2.3em;

}

.calendar_date {
    display: grid;
    height: auto;
    margin-bottom: 1em;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
}

.calendar_date>div {
    padding-top: 0.2em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    background-color: antiquewhite;
    width: 5em;
    height: 5em;
    display: flex;
    flex-direction: column;

    transition: 1s;
}

.calendar_date>div:hover {
    background-color: rgb(121, 154, 220);
    color: white
}

.calendar_hover .curr_date {
    background-color: rgb(218, 218, 218);
}

.hover_color {
    color: rgb(182, 168, 42);
}

.sugar_and_stress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media screen and (min-width:1080px) {
    /* .calendar_date>div {
        gap: 0.1em;
        margin-left: 0.3em;
        margin-right: 0.3em;
        width: 4.8em;
    } */

    /* .calendar_date {
        gap: 0.2em;
    } */
    .calendar_week_day {
        margin-left: 2.3em;
        margin-right: 2.3em;
    }

}

@media screen and (max-width:1080px) {
    .calendar_date>div {
        gap: 0.1em;
        margin-left: 0.3em;
        margin-right: 0.3em;
        width: 4.8em;
    }

    .calendar_date {
        gap: 0.2em;
    }

    .calendar_week {
        gap: 0.05em;
    }

    .calendar_week_day {
        padding-top: 0.2em;
        margin-right: 2.2em;
        margin-left: 2.2em;

    }


}

@media screen and (max-width:950px) {
    .calendar_date>div {
        gap: 0.05em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 4.8em;
    }

    .calendar_date {
        gap: 0.2em;
    }

    .calendar_week_day {
        padding-top: 0.2em;
        margin-right: 2em;
        margin-left: 2em;

    }
}

@media screen and (max-width:880px) {
    .calendar_date>div {
        gap: 0.05em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 3.8em;
    }

    .calendar_date {
        gap: 0.2em;
    }

    .calendar_week_day {
        padding-top: 0.2em;
        margin-right: 1.6em;
        margin-left: 1.6em;

    }
}

@media screen and (max-width:715px) {
    .calendar_date>div {
        gap: 0.05em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 3.8em;
    }

    .calendar {
        width: 90%;
    }

    .calendar_date {
        gap: 0.2em;
    }

    .calendar_week_day {
        padding-top: 0.2em;
        margin-right: 1.6em;
        margin-left: 1.6em;

    }
}

@media screen and (max-width:560px) {
    .calendar_date>div {
        gap: 0.05em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 3em;
    }

    .calendar {
        width: 98%;
    }

    .calendar_date {
        gap: 0.2em;
    }

    .calendar_week_day {
        padding-top: 0.2em;
        margin-right: 1.15em;
        margin-left: 1.15em;

    }
}

@media screen and (max-width:430px) {
    .calendar_date>div {
        gap: 0.05em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        width: 3em;

    }

    .calendar {
        width: 98%;
        border-radius: none;
    }

    .calendar_date {
        gap: 0.2em;
    }

    .calendar_week_day {
        padding-top: 0.2em;
        margin-right: 1.15em;
        margin-left: 1.15em;

    }
}