* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100vw;

    background-color: rgb(46, 86, 107);
}

.header {
    display: flex;
    width: 100vw;
    height: 3.5em;
    z-index: 10000;
    top: 0;
    background-color: rgb(130, 166, 168);
    box-shadow: 0.3em;
    overflow-x: hidden;
    transition: top 0.5s;
    position: fixed;

}

.hide {
    top: -60px;
}

#menu {
    height: 100%;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 176, 188);
}

.menuimg {
    width: 60%;
}


.logodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3em;
    margin-left: 2em;
    height: 100%;
    margin-right: 2em;
}

.logop {
    font-size: 2em;
}

.menutext {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}

.menutext>p {
    font-size: 1.2em;
}

.logindiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 3em;
}

.logindiv>button {
    width: 6em;
    height: 80%;
    border-radius: 0.5em;
    background-color: rgb(57, 93, 81);
    border: none;
}

.div1 {
    display: flex;

}

#menuleft {
    height: 100vh;
    width: 11em;
    background-color: rgb(68, 101, 122);

    display: none;
    animation: slidein 0.3s forwards;
    z-index: 100000;
    position: fixed;
    left: 0px;



}

.menuheader {
    display: flex;
    background-color: rgb(130, 166, 168);
    height: 3.5em;
}

@keyframes slidein {
    from {
        transform: translateX(-100%);

    }

    to {
        transform: translateX(0%);
    }
}


#menuright {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;

}

button {
    width: 5em;
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

input {
    width: 100%;
}

@media screen and (max-width: 650px) {
    .menutext {
        display: none;
    }
}

.menuitem {
    width: 9em;
    height: 3em;
    margin-top: 3em;
    background-color: rgb(113, 177, 199);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.5s;
}

.menuitem:hover {
    background-color: rgb(101, 147, 151);
    width: 9.8em;
}

.carousel {
    width: 100%;
    height: 37em;
    margin-top: 0;
    background-color: rgb(204, 125, 125);
    animation: slidein 1s forwards;
    transition: 1s;
    overflow-y: hidden;
    overflow-x: hidden;


}

.carousel_img {
    display: flex;
    width: 100%;
    height: 90%;
    overflow-y: hidden;
}

.carousel_dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 3em;
    height: 3em;
    z-index: 100;

}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0.3em;
    transition: 0.5s;
}

.dot:hover {
    width: 15px;
    height: 15px;


}

.carousel_in {
    margin-top: 3.5em;
    background-color: rgb(170, 195, 222);
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 1000px) {
    .carousel {
        height: 28em;
    }
}

@media screen and (max-width: 700px) {
    .carousel {
        height: 20em;
    }
}

.intro {
    width: 100%;

    background-color: white;
    animation: slidein 1s forwards;
}

.introh2 {
    color: cadetblue;
    margin-top: 1em;
}

.intro_in {
    display: flex;
    width: 90%;
    height: 20em;
    align-items: center;
    justify-content: center;

    border-radius: 2em;
    width: 25em;
    height: 12em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    transition: 0.8s;
}

.intro_change {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_in:hover {
    background-color: rgb(138, 191, 205);

}

.intro_in>img {
    width: 9em;
    height: 9em;
    border-radius: 1em;
    transition: 0.5s;
}

.intro_in>img:hover {
    width: 10em;
    height: 10em;
}


.intro_in_text {

    width: 7em;
    display: flex;
    flex-direction: column;
    width: 10em;
    align-items: flex-start;
    padding-left: 1em;

    word-break: break-all;
    word-wrap: break-word;
}


@media screen and (max-width: 1000px) {
    .intro_change {
        display: flex;
        flex-direction: column;

    }

    .team_in {
        margin-bottom: 1em;
    }



}

.team_change {
    display: flex;
    align-items: center;
    justify-content: center;

}

.team_in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    margin-right: 3em;
    margin-left: 3em;

}

.team_img {
    margin-top: 2em;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    transition: 0.5s;
}

.team_in>h3 {
    color: white;
}

.team_in>p {
    color: rgb(175, 221, 206);
}

.team_img:hover {
    width: 9em;
    height: 9em;
}

@media screen and (max-width: 1000px) {
    .team_change {
        display: flex;
        flex-direction: column;

    }

    .team_in {
        margin-bottom: 0em;
    }
}

.intro_p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 設定顯示 3 行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.webs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 20em;
    background-color: rgb(168, 222, 203);
    animation: slidein 1s forwards;
}

.webs>p {
    margin-top: 2em;
    width: 70%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 設定顯示 3 行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}